#profile-image.index, #profile-image.about {
    border-radius: 50%;
}

#profile-image.about {
    width: 150px;
    height: 150px;
    align-self: center;
}

.github-link {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}